html {
  --border-color: #d13636;
  --screen-color: #d5e4ca;
  --cell-color: #1f1e1e;
  --knob-color: #fff; 
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}

.etch-a-sketch-bg {
  position: fixed;
  background-color: var(--border-color);
  border-radius: 1em;
  top: 0;
  bottom: 0; 
  left: 0; 
  right: 0; 
  min-height: 12em;
  margin: 1em; 
  display: flex;
  flex-direction: column;
}

.canvas-background {
  background-color: var(--screen-color);
  flex: 1;
  margin: 2em 2em 0 2em; 
  border-radius: 1em;
  display: flex; 
}

.canvas {
  margin: 1em; 
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.canvas-row {
  display: flex; 
  flex: 1; 
}

.canvas-cell {
  flex: 1;
  background-color: var(--cell-color);
  border: 0.1em solid var(--screen-color); 
}

.inactive {
  background-color: var(--screen-color);
}

.bottom-container {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.knob {
  flex: 1; 
  margin: 1.5em; 
  background-color: var(--knob-color);
  aspect-ratio: 1;
  max-width: 6em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--border-color);
}

.title {
  color: var(--knob-color); 
  text-align: center;
  font-style: italic; 
}
